<div class="row" style="width:450px; height:100px;margin-left:-65px" >
<div class="col-lg-12">
<div class="panel">
<div class="modal-header bg-info">
	<h3 class="modal-title">Классификация</h3>
</div>
<div class="modal-body">
	<form class="bs-example form-horizontal ng-pristine ng-valid" >
		<div class="row">
			<div class="col-lg-12">
			<div class="form-group">
				<label class="col-sm-3 control-label">Название</label>
				<div class="col-sm-8">
					<input type="text" placeholder="Введите название классификации" class="form-control" ng-model="classification.name">
				</div>
			</div>
		</div>
		</div>
		</form>
</div>
<div class="modal-footer">
	<div class="doc-buttons">
		<button class="btn btn-info" ng-click="create()" ui-sref-opts="{ reload: true }">Сохранить</button>
		<button class="btn btn-default" ng-click="cancel()">Назад</button>
	</div>
</div>
</div>
</div>
</div>
