<div ng-controller="UserEditCtrl" class="app-content-body">
	<div class="bg-light lter b-b">
		<div class="wrapper-md ng-binding">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Добавить</div>
				<div class="panel-body">

					<form class="bs-example form-horizontal ng-pristine ng-valid col-md-9" ng-submit="update()">
						<div class="form-group">
							<label class="col-lg-3 control-label">Сотрудник</label>
							<div class="col-lg-9">
								<select ng-model="user.staff.id" class="form-control" ng-options="staff.id as staff.name for staff in staffs">
								</select>
							</div>
						</div>


						<div class="form-group">
							<label class="col-lg-3 control-label">Имя пользователя</label>
							<div class="col-lg-9">
								<input type="text" placeholder="" class="form-control" ng-model="user.username">
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Пароль</label>
							<div class="col-lg-9">
								<label class="checkbox-inline"><input type="checkbox" ng-model="user.changePassword"> Изменить пароль </label>
								<input ng-if="user.changePassword" type="password" placeholder="" class="form-control" ng-model="user.password">
							</div>
						</div>

						<div class="form-group" ng-if="user.changePassword">
							<label class="col-lg-3 control-label">Повтарите пароль</label>
							<div class="col-lg-9">
								<input type="password" placeholder="" class="form-control" ng-model="passwordRepeat">
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Роль</label>
							<div class="col-lg-9">
								<select ng-model="user.role.id" class="form-control" ng-options="role.id as role.name for role in roles">
								</select>
							</div>
						</div>

						<div class="form-group">
				            <label class="col-lg-3 control-label"></label>
				              <div class="col-lg-9">
				                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
				                <a class="btn btn-sm btn-default" ui-sref="admin.user.list">Отмена</a>
				              </div>
				        </div>	

					</form>


				</div>
			</div>
		</div>
	</div>
</div>
