<div ng-controller="FabricListCtrl">
	<!-- content -->
	<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<div class="col-lg-12">
					<div class="bg-default lter b-b col-lg-5 panel-heading">
						<h1 class="m-n font-thin h3">Спикок ткани</h1>
					</div>
				</div>
				<div style="clear: both"></div>
				<div class="progress progress-xs m-b-none dker ">
					<div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 100%"></div>
				</div>
				<div class="panel-body">
					<div class="panel panel-info" draggable="true">
						<div class="panel-heading">
							Склад 1
							<div style="float: right">
								<label class="i-switch bg-info m-t-xs m-r"> <input type="checkbox" ng-click="toggleTable(1)"> <i></i>
								</label>
							</div>
						</div> 
						<div class="toggle_1 ">
							<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
								<tr ng-repeat="fabric in $data" ng-class="{odd: $odd, even: $even}">
									<td data-title="'#'">{{$index + 1}}.</td>
									<td data-title="'Код'" sortable="'code'" filter="{ 'code': 'text' }">{{fabric.code}}</td>
									<td data-title="'Бренд'" sortable="'brand.name'" filter="{ 'brand.name': 'text' }">{{fabric.brand.name}}</td>
									<td data-title="'Граммаж'" sortable="'grammage'" filter="{ 'grammage': 'text' }">{{fabric.grammage}}</td>
									<td data-title="'Ширина'" sortable="'width'" filter="{ 'width': 'text' }">{{fabric.width}}</td>
									<td data-title="'Цвет'" sortable="'color.name'" filter="{ 'color.name': 'text' }">{{fabric.color.name}}</td>
									<td data-title="'Опции'" class="text-center" style="min-width: 100px"><a class="btn btn-sm btn-icon btn-warning"
										ui-sref="warehouse.fabric.edit({ id: fabric.id })"><i class="fa fa-pencil"></i></a> <a class="btn btn-sm btn-icon btn-danger"
										ng-click="callDeleteModal('fabric', fabric.id)"><i class="glyphicon glyphicon-trash"></i></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!-- content -->
</div>


<script type="text/ng-template" id="custom/pager">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</script>