<div ng-controller="ColorAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-info">
			        <div class="panel-heading font-bold">Добавить</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
						<div class="row">
						    <div class="col-sm-9">
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Название цвета</label>
					              <div class="col-lg-4">
					                <input type="text" placeholder="Введите название цвета" class="form-control" ng-model="color.name">
					              </div>
					            </div>
					            
					            <div class="form-group">
									<label class="col-lg-3 control-label">Код цвета<span class="text-danger">*</span></label>
									<div class="col-lg-4">
										<input ng-model="color.code" type="color" class="form-control" name="color" /> 								
									</div>
								</div>
					            
					            
					            			     
				            	<div class="form-group">
					            	<label class="col-lg-3 control-label"></label>
					              	<div class="col-lg-9">
					                	<button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					                	<a ui-sref="admin.setting.colorList" type="#" class="btn btn-s-md btn-default">Назад</a>
					              	</div>
					        	</div>			
					        				          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>